{% extends "base.html" %}

{% block title %}Django Blog{% endblock %}
{% block content %}
    <div class="card">
        <div class="card-body text-center">
            <h1 class="card-title">Django Blogging Platform</h1>
            <h2 class="card-subtitle text-muted">The web framework for perfectionists with deadlines</h2>
            <p class="card-text">Django makes it easier to build better Web apps more quickly and with less code.</p>
            <p class="badge badge-success">Built with Django v2.2 (LTS)</p>
        </div>
    </div>
{% endblock %}