p.date {
    color: #333;
    font-size: 12px;
    font-style: italic;
}

.pagination {
    margin: 40px 0;
    font-weight: bold;
}

.comment {
    padding: 10px;
}

.comment:nth-child(even) {
    background: #f1f1f1;
}

.comment .info {
    font-size: 12px;
    font-style: italic;
    color: #333;
}